/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    height:auto;
  }
  
  /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
  .row.content {
      background-color:white;
      color:black;
  }
  
  /* Set gray background color and 100% height */
  .sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
  }
  
  /* Set black background color, white text and some padding */
  footer {
    background-color: #555;
    color: white;
    padding: 15px;
  }
  
  body{
      background-color:#FFFFFF;
      color:black;
  }
  
  /* On small screens, set height to 'auto' for sidenav and grid */
  @media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    .row.content {
        height:auto;
        background-color:white;
        color:black;
    } 
  }
  
  .sizing{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
  
  
  }
  
  .jumbotron{
      background-image:url("https://d25tv1xepz39hi.cloudfront.net/2019-04-17/files/wide-angle-lenses-1293_t.jpg");
      color:white;
  }
  
  div.shadow{
      box-shadow:8px 4px 8px 0 rgba(0,0,0,0.0);
      background-color:white;
  }

.center{
    margin:2%;
}

li{
    list-style-type:none;
}

p{
    font-size:18px;
    font-family:Georgia;
    line-height:2.0;
}

h2{
    font-family: "Times New Roman";
    font-size:40px;
    font-weight:bold;
}

img.Belizajeth{
    width:70px;
}
img.welcome{
    width:100%;
}

.text{
    font-size:18px;
}
    
